- @title = "Open up"
- @page_id = "home"

.content
  .main-block
    .main-block-inner
      %h3.title-red-big.box-triangle-shadow.red-shadow.east Je cherche à contacter :

      .contact-form-block
        .form-inner.box-triangle-shadow.dark-shadow.both
          = form_tag '/subscribe', :class => 'contact-form', :method => 'put' do
            .control-group
              = label_tag :company_name, :class => 'control-label'
              .controls
                = text_field_tag :company_name, :value => params[:company_name], :placeholder => 'La poste, sncf, Amazon ...'

            %span.or-divider
              ou

            .control-group
              = label_tag :company_business, :class => 'control-label'
              .controls
                = text_field_tag :company_business, :value => params[:company_business], :placeholder => 'La poste, sncf, Amazon ...'

        .actions.pull-right
          = submit_tag "Lancer la recherche", :class => 'btn btn-medium'

    .two-columns
      .column
        %h3.title-dark.arrow.borderless News des Marques
        .box
          %ul
            %li
              = lorem.paragraph
              .wrap
                .vote-block
                  %a.vote{:href => "#"}
                  %a.not-vote-grey{:href => "#"}
                %a.read-more.pull-right{:href => "#"} lire la suite
            %li
              = lorem.paragraph
              .wrap
                .vote-block
                  %a.vote{:href => "#"}
                  %a.not-vote-grey{:href => "#"}
                %a.read-more.pull-right{:href => "#"} lire la suite
            %li
              = lorem.paragraph
              .wrap
                .vote-block
                  %a.vote{:href => "#"}
                  %a.not-vote-grey{:href => "#"}
                %a.read-more.pull-right{:href => "#"} lire la suite
      .column.last
        %h3.title-dark.arrow.borderless Les idées des internautes : votez pour celle que vous voulez soutenir !
        .box
          %ul
            %li
              = lorem.paragraph
              .wrap
                .vote-block
                  %a.vote{:href => "#"}
                  %a.not-vote-grey{:href => "#"}
                %a.read-more.pull-right{:href => "#"} lire la suite
            %li
              = lorem.paragraph
              .wrap
                .vote-block
                  %a.vote{:href => "#"}
                  %a.not-vote-grey{:href => "#"}
                %a.read-more.pull-right{:href => "#"} lire la suite
            %li
              = lorem.paragraph
              .wrap
                .vote-block
                  %a.vote{:herf => "#"}
                  %a.not-vote-grey{:href => "#"}
                %a.read-more.pull-right{:href => "#"} lire la suite


