- @title = "Home"
!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}
    %meta{:name => "format-detection", :content => "telephone=no"}

    -# Pull in the page title
    %title= @title

    -# Place favicon.ico and apple-touch-icon.png in the root directory: tout-dev/notes/touch-icons
    %link{:rel => 'stylesheet', :href => 'http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css'}
    %script{:src => 'http://code.jquery.com/jquery-1.6.2.min.js'}
    %script{:src => 'http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js'}

    = stylesheets_tag
    = javascripts_tag

  %body
    %div{:id => "#{@mobile_page_id}", :data => {:role => 'page', :title => "#{@title}", 'add-back-btn' => 'true'}}

      #main{"data-role" => "content"}
        / section
        %article.section
          .info-block
            %strong.logo
              =link_to "TOUT", '#'
            %strong.slogan Whatever Moves You
            .btn-holder
              =link_to "Download the App", '#transparent', :class => 'link-download', 'aria-haspopup' => 'true', 'data-corners' => 'true', 'data-rel' => 'popup'
              / popup
              #transparent.ui-content{"data-role" => "popup"}
                .title You need to Download The App
                =link_to "Available on the App Store", '#home-page.html', :class => 'btn-app-store'
                =link_to "close", 'home-page.html', :class => 'close'
            =link_to 'Already have an account? Login', '#', :class => 'link-login'
          =image_tag '/assets/img15.png', :alt => 'image description', :width => '320', :height => '210'
        / heading-block
        .heading-block
          %h1 Featured TOUTS
        / content-block
        %article.content-block
          .holder
            .img-box
              =link_to "", '#' do
                =image_tag '/assets/img08.jpg', :alt => 'image description', :width => '26', :height => '26'
            .text-holder
              %h2
                =link_to "Alan Murray", '#'
              %p Thanks you guys for all the bday wishes...
            %em.time 2 min
          / placeholder
          .video-block
            =image_tag '/assets/img09.jpg', :alt => 'image description', :width => '288', :height => '101'
            =link_to "", '#', :class => 'btn-play'
          / btn-holder
          .btn-holder
            %span.reply-link
              =link_to "Reply", '#'
              %em 0
            %span.like-link
              =link_to "like", '#'
              %em 65
            =link_to "", '#', :class => 'link-back'
        / content-block
        %article.content-block
          .holder
            .img-box
              =link_to "", '#' do
                =image_tag '/assets/img08.jpg', :alt => 'image description', :width => '26', :height => '26'
            .text-holder
              %h2
                =link_to "Alan Murray", '#'
              %p Thanks you guys for all the bday wishes...
            %em.time 2 min
          / placeholder
          .video-block
            =image_tag '/assets/img09.jpg', :alt => 'image description', :width => '288', :height => '101'
            =link_to "", '#', :class => 'btn-play'
          / btn-holder
          .btn-holder
            %span.reply-link
              =link_to "Reply", '#'
              %em 0
            %span.like-link
              =link_to "Like", '#'
              %em 65
            =link_to "", '#', :class => 'link-back'
