%div{:id => 'header', :class => 'special-tab', :data => {:role => 'header', :position => 'fixed'}}
  .header-block
    %strong.logo
      %a{:href => '#'}= 'TOUT'
      %ul.btn-block
        %li.active
          %a{:href => '#state1'}
        %li
          %a{:href => '#state2'}
  .header-section
    .header-box
      .img-box.mark
        =link_to "", '#' do
          =image_tag "/assets/img18.jpg", :alt => 'image description', :width => '51', :height => '51'
      .link-holder
        =link_to '#', :class => "follow-link" do
          Follow
          %span.mark= '+'
      .text-holder
        %h1
          =link_to "Lorem ipsum dolor", '#'
        %p= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor'
    .tabset
      %li.active
        =link_to('#tab-1', :class => 'tab') do
          Tout
          %span= '271'
          %em.arrow
      %li
        =link_to('#tab-2', :class => 'tab') do
          Followers
          %span= '417883'
          %em.arrow
      %li
        =link_to('#tab-3', :class => 'tab') do
          Following
          %span= '171'
          %em.arrow
